<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<title>Bookcase: Панель администратора</title>
	
<!-- 	<script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script> -->

    <link rel="stylesheet" type="text/css" href="css/reset.css">
    <link rel="stylesheet" type="text/css" href="css/admin.css">
</head>
<body>
 	
 	<div class="container">
 		<header>
	 		<div class="wrap-header-admin">
	            <span class="text-header">Панель администратора</span> 
	        </div>
            <div class="wrap-header">
	            <a href="http://book.loc"><img class="logo" src="images/book_logo.png" alt="Home"></a>
	        </div>
	        
        </header>
    </div>
    
    	<div class="container">	
	    	<nav class="wrap-nav">	
		    	<ul>
		    		<il><a href="http://book.loc/admin/add">Добавить книгу</a></il>
		    	</ul>
	    	</nav>
    	</div>
    	
    	<div class="container">	
	    	<div class="wrap-content">	
		    	
		    	<div class="book-data">	
			    	<div class="book-title">	
				    	<h1><a href="link-to-description">Какой-то заголовок некой книги</a></h1>
			    	</div>
			    	
			    	<div class="book-autor">	
				    	A.Autor
			    	</div>
			    	
			    	<div class="book-genre">	
				    	Фантастика
			    	</div>
		    	</div>
		    	
		    	<div class="book-data">	
			    	<div class="book-title">	
				    	<h1><a href="link-to-description">Какой-то заголовок некой книги</a></h1>
			    	</div>
			    	
			    	<div class="book-autor">	
				    	A.Autor, A.Autor
			    	</div>
			    	
			    	<div class="book-genre">	
				    	Фантастика, Детектив
			    	</div>
		    	</div>
		    	
		    	<div class="book-data">	
			    	<div class="book-title">	
				    	<h1><a href="link-to-description">Какой-то заголовок некой книги</a></h1>
			    	</div>
			    	
			    	<div class="book-autor">	
				    	A.Autor
			    	</div>
			    	
			    	<div class="book-genre">	
				    	Фантастика
			    	</div>
		    	</div>
			    
	    	</div>
    	</div>
    
    <footer>	
	    <div class="container">
		    <div class="footer-info">
	    		<p class="small-text">Тестовое задание</p>
	    	</div>
	    </div>
    </footer>	
</body>
</html>